html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'Lato-Regular';
	src: url('fonts/Raleway-SemiBold.eot');
	src: url('fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Lato-Regular.woff') format('woff'),
		 url('fonts/Lato-Regular.ttf') format('truetype'),
		 url('fonts/Lato-Regular.svg#Lato-Regular') format('svg');
	font-style: normal;
	font-weight: normal;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1248px;
    font-family: 'Helvetica', sans-serif;
}

.blue-rectangle {
    width: 90%;
    max-width: 1006px;
    background-image: linear-gradient(180deg, #d0e5f0 0%, #bddeef 100%);
    display: block;
    margin: 130px auto 0;
    height: 443px;
}

.figure-rectangle-top {
    position: absolute;
    top: 110px;
    margin-left: 20%;
}

.blue-rectangle-inner {
    padding: 5%;
}

.logo-section {
    display: flex;
    justify-content: flex-end;
}

.blue-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.text-wrapper {
    width: 225px;
}

.blue-text {
    line-height: 50px;
    text-transform: uppercase;
    color: #174985;
    font-family: "Helvetica", sans-serif;
    font-size: 40px;
}

.video-wrapper {
    border: 6px solid #0095cc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    width: 375px;
    height: 196px;
    z-index: 1;
}

.figure-rectangle-bottom {
    margin-top: -110px;
    margin-left: 30%;
    z-index: -10;
}

.blue-line {
    width: 95%;
    max-width: 1074px;
    height: 112px;
    background-color: #273574;
    display: block;
    margin: 0 auto;
}

.inner-section {
    width: 100%;
    max-width: 1248px;
    position: relative;
}

.first-section {
    width: 75%;
    margin: 0 auto;
    padding: 50px 0;
}

.first-text {
    line-height: 25px;
    font-size: 18px;
    font-weight: 600;;
}

.free-sample {
    position: absolute;    
    height: 237px;
    width: 180px;
    right: 20px;
    margin-top: 66px;
    background-image: url('free-sample.png');
    z-index: 100;
 }

 .free-sample-text {
     transform: rotate(90deg);
     color: #fff;
     text-transform: uppercase;
     margin-top: 130px;
     margin-left: -38px;
     width: 160px;
 }

 .first-section-blue-block {
    background-image: linear-gradient(to right, rgba(208, 229, 240, 0) 0%, #bddeef 100%);
    margin-top: 76px;
    display: flex;
    justify-content: space-around;
    position: relative;
 }

 .first-section-blue-block > img {
     display: inline-block;
 }

 .lack-energy {
     display: inline-block;
     margin-left: -20%;
}

 .lack-energy-content {
    margin-top: 20px;
    margin-left: 20%;
 }

 .lack-energy-content > h2 {
    width: 350px;
    text-transform: uppercase;
    color: #174985;
    font-size: 26px;
    display: inline-block;
 }

 .lack-energy-content > p {
     margin-top: 10px;
     line-height: 20px;
     color: #373737;
 }

 .red-button-field {
     display: flex;
     justify-content: center;
     margin-top: 20px;
 }

 .take-test-btn {
     width: 173px;
     height: 31px;
     background-image: url('take-test-btn.png');
     border: none;
     cursor: pointer;
 }

 .small-figure {
     position: absolute;
     right: 0;
     bottom: 20px;
 }

 .second-section > h2 {
    line-height: 37px;
    color: #174985;
    font-family: 'Helvetica', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
 }

 .second-section > p {
    line-height: 30px;
    color: #273574;
    font-family: 'Helvetica', sans-serif;
    font-size: 22px;
    font-weight: bold;
    max-width: 648px;
    text-align: center;
    margin: 10px auto 20px;
 }

 .two-bloks-container {
     display: block;
     margin: 36px auto;
     width: 648px;
 }

 .two-bloks {     
     display: flex;
     justify-content: space-between;
 }

 .second-section-block {
     width: 300px;
 }

 .second-section-block > img {
     display: block;
     margin: 0 auto;
 }

 .second-section-block > h3 {
    line-height: 28px;
    text-transform: uppercase;
    color: #273574;
    font-family: "Helvetica", sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: 55px;
 }

 .second-section-block > p {
    line-height: 25px;
    color: #273574;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
 }

 .third-section {
     width: 90%;
     margin: 60px auto;
     background-image: linear-gradient(to right, #d0e5f0 0%, #bddeef 100%);
 }

 .section-inner {
     width: 80%;
     margin: 20px auto;
     display: flex;
     justify-content: space-between;  
     padding: 40px 0;   
 }

 .h2 {
    line-height: 34px;
    text-transform: uppercase;
    color: #174985;
    font-family: "Helvetica", sans-serif;
    font-size: 27px;
    text-align: center;
 }

 .optimum-features > ul {
     margin-top: 20px;
 }

 .optimum-features > ul > li {
    line-height: 25px;
    color: #273574;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
    font-weight: bold;
 }

.fifth-section {
    width: 90%;
    margin: 60px auto;
    background-image: linear-gradient(to top, rgba(208, 229, 240, 0) 0%, #bddeef 100%);
    padding: 40px 0;
}

.blue-buy-wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 674px;
    height: 121px;
}

.blue-line-buy {
    width: 674px;
    height: 121px;
    background-color: #174985;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 30px;  
}

.cart-block {
    width: 136px;
    height: 121px;
    background-image: url('cart-block.png');
    position: absolute;
    left: -30px;
}

.small-figure-buy {
    position: absolute;
    left: 90px;
    bottom: 10px;
    z-index: 100;
}

.blue-inner-content {
    margin-left: 115px; 
    display: flex;
    justify-content: space-between;
}

.blue-text-block {
    margin-top: 27px;
    width: 100%;
}

.blue-text-block > h3 {
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Helvetica", sans-serif;
    font-size: 25px;
}

.blue-text-block > p {
    line-height: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.blue-content-wrapper-btn {
    margin-top: 18px;
}

.blue-btn {
    width: 152px;
    height: 33px;
    background-image: linear-gradient(to right, #d0e5f0 0%, #bddeef 100%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    color: #174985;
    font-family: "Helvetica", sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 12px;
    cursor: pointer;
}

.centered-compact-block {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.consumption-line {
    display: flex;
    justify-content: space-between;
}

.consumption-item {
    display: flex;
    justify-content: space-between;
}

.consumption-item-content-left {
    margin-right: 70px;
    width: 259px;
    height: 80px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #273574 99.8711%, #273574 100%);
}

.consumption-item-content-left > p {
    line-height: 25px;
    color: #273574;
    font-family: "Helvetica", sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: 198px;
    text-align: right;
    margin-left: -40px;
}

.consumption-photo,
.consumption-photo-right {
    position: relative;
}

.consumption-photo > img {
    position: absolute;
    right: -30px;
}

.item-bottom {
    margin-top: 85px;
}

.consumption-item-content-right {
    width: 259px;
    height: 80px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, #273574 99.8711%, #273574 100%);
    margin-left: 120px;
}

.consumption-item-content-right > p {
    line-height: 20px;
    color: #273574;
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 198px;
    text-align: left;
    margin-left: 70px;
}

.consumption-photo-right > img {
    position: absolute;
    left: -10px;
}

.consumption-small-figure {
    margin-top: 25px;
    margin-left: 220px;    
}

.right-top-figure {
    position: absolute;
    right: 40px;
    top: -80px;
    /*display:flex;
    justify-content: flex-end;*/
}

.left-bottom-figure {
    /*position: absolute;
    left: 0px;*/
    display: flex;
    justify-content: flex-start;
    margin-top: -220px;
}

.sixth-block {
    background-image: linear-gradient(to bottom, #bddeef 0%, #ffffff 50%, #bddeef 100%);
    width: 90%;
    padding: 60px 0;
}

.outher-content-wrapper {
    width: 70%;
    margin: 34px auto 0;
    display: block;
}

.img-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reminders {
    background-image: linear-gradient(to right, #d0e5f0 0%, #bddeef 100%);
    width: 90%;
    padding: 20px 32px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 20px;
}

.reminders > h3 {
    line-height: 28px;
    text-transform: uppercase;
    color: #273574;
    font-family: "Helvetica", sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}

.reminders > ol > li {
    line-height: 26px;
    color: #273574;
    font-family: "Helvetica", sans-serif;
    font-size: 19px;
    font-weight: bold;
}

.link-content-wrapper {
    display: flex;
    justify-content: center;
}

.text-info {
    line-height: 31px;
    color: #273574;
    font-family: "Helvetica", sans-serif;
    font-size: 24px;
    font-weight: bold;   
}

.text-info-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    width: 424px;
}

.here {
    width: 85px;
    height: 30px;
    background-image: url('here.png');
    border: none;
    display: block;
}

.resources-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.resource-item {
    position: relative;
    margin-top: 55px;
    margin: 0 20px;
}

.resource-blue-block {
    width: 268px;
    height: 367px;
    background-color: #174985;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
}

.resource-blue-block > h3 {
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    margin-top: 120px;
}

.resource-blue-block > p {
    line-height: 15px;
    color: #ffffff;
    font-family: "Helvetica", sans-serif;
    font-size: 12px;
    margin-top: 20px;
}

.blue-read-more {
    position: absolute;
    background-image: linear-gradient(to right, #d0e5f0 0%, #bddeef 100%);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    bottom: 42px;
    left: 20px;
    color: #174985;
    font-family: "Helvetica", sans-serif;
    font-size: 11px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.resource-photo {
    position: absolute;
    top: -60px;
    left: 60px;
}

.blue-mini-figure {
    position: absolute;
    bottom: 20px;
    right: 30px;
}


/*SLIDER*/
.slider-container {
   
  }
  
  .navSlider h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #646464;
    margin-bottom: 15px;
    width: 217px;
  }
  
  .navSlider .imageHoverable {
    position: relative;
  }
  .navSlider .overlay {
    position: absolute;
    opacity: 0;
    width: 217px;
    height: 175px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    transition: opacity 0.3s ease-in-out;
  }
  .navSlider .overlay:hover {
    opacity: 1;
  }
  
  .navSlider .navSliderItem:not(:last-child()) {
    margin-right: 20px;
  }
  
  .tns-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .tns-nav button {
    width: 18px;
    height: 18px;
    margin: 2.5px;
    border: 2px solid #b79655;
    border-radius: 50%;
    outline: none;
    background: white;
  }
  
  button.tns-nav-active {
    position: relative;
    background: #b79655;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button.tns-nav-active::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
  
    border-radius: 50%;
    background: #b79655;
    border: 2px white solid;
    z-index: 2;
  }
  .tns-slide-active {
    text-align: center;
  }
  
  .navSliderItemContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .cardSlider .cardSliderCard {
    width: 275px;
  }
  
  #upButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  #upButton img {
    max-width: 100%;
  }
  
  .highlighted {
    color: #b79655 !important;
  }
  
  .center {
    text-align: center;
  }
  
  .slider-outher {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .slider-description {
    float: left;
    width: 206px;
    margin-right: -7px;
  }
  
  .second-slider-item-header {
    font-weight: 700;
    text-transform: uppercase;
    color: #646464;
  }
  
  .item-wrapper {
    width: 155px;
    height: 500px;
    background-color: #ffffff;
  }
  
  .item-inner-wrapper {  
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 135px;
    height: 210px;
    padding: 8px;
  }