html {
	box-sizing: border-box;
}

body {
	background-image: url('grass.jpg');
}

h1 {
	font-size: 40px;
	font-weight: 600;
	color: #ffffff;
	text-shadow: 2px 2px 3px #001a00;
}

p {
	color: #ffffff;
	font-weight: 600;
}

div {
	width: 50%;
	padding: 100px;
	border-radius: 50%;
	margin: 0 auto;
}

.one {
	background: #315082;
}

.two {
	background: #4a87bf;
}

.three {
	background: #6bb4d0;
}

.water {
	background-image: url('Ujeo.gif');
	background-position: center;
	background-size: cover;	
	display: block;
}

.refresh {
	background: #ffffff;
	font-size: 18px;
	font-weight: 400;
	color: #003366;
	border: 2px solid #003366;
	padding: 6px;
}