
.wrapper {
	width: 550px;
}
.inner-field {
	width: 360px;
	height: 20px;
	border: 1px solid #ccc;
	float: left;
}

.text-input {
	border: none;
}

.add {
	margin-left: 20px;
}

.clearfix {
	clear: both;
}

.result-wrapper {	
	min-width: 350px;
}

.text-area {
	width: 360px;
	height: auto;
	min-height: 300px;
	border: 1px solid #ccc;
	margin-top: 40px;
	float: left;
}

.area-buttons {
	display: block;
	width: 150px;
	float: right;
	margin-right: 20px;
	margin-top: 40px;	
}

.btn {
	margin-bottom: 20px;
	display: block;	
}

@media screen and (max-width: 460px) {
.btn, .add {
	width: 100px;
	height: 40px;	
}
.text-input {
	height: 40px;
	font-size: 18px;
}
.inner-field {
	height: 45px;
}

input {
	width: 170px;
   }
}

@media screen and (max-width: 320px) {
	.btn, .add {
	font-size: 20px;
	height: 50px;
	margin-bottom: 30px;	
}
}